/*
	font-family: 'Merriweather', serif;
font-family: 'Bitter', serif;
font-family: 'Lobster', cursive;
font-family: 'Bowlby One', cursive;
font-family: 'Montserrat', sans-serif;
*/

body{
	margin-top: 70px;
	background: #f1f1f1;
}

h1, h2, h3, h4, h5, h6{
	font-family: Poppins;
}

p{
	font-family: 'Montserrat', sans-serif;;
}

.h2{
	font-size:2.2em;
	font-family:'Montserrat', sans-serif;;
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
}

.jumbotron p{
	color: #fff !important;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 1.34em;
	margin-top: 20px;
}

.jumbotron a{
	color: #fff;
}

.jumbotron{
	background-color: #000;
  background-image: url("../../assets/image/114.jpg");
  background-position:center;
  background-size: cover;
  border-radius: 0px;
  height: 350px;
  opacity: 0.7;
  overflow: hidden;z-index:1;
}

h2.section-heading{
	color: #487bb4;
	font-family: 'Merriweather', serif;
	font-size: 1.7em;
	text-align: left;
	display: block;
}

h4.section-subheading{
	font-family: 'Montserrat','Helvetica-Neue', helvetica;
	letter-spacing: 1.1px;
	line-height: 1.4;
	font-size: 14px;
	color: #000;
	padding: 8px 8px;
}

.navbar-default{
	background: #fff;
	border: 0;
	font-family: Poppins;
}

.navbar-brand{
	font-size: 20px;
	color: #000 !important;
	font-weight: bold;
}

#maplist h2{
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
	display: block;
	padding: 5% 0%;
	width: 100%;
}

#maplist .items-right{
	margin-top: 50px;
}

#maplist .items-right span{
	font-size: 22px;
}

#maplist .items-right ul{
	line-height: 1.8em;
/*
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
*/
	
}

#maplist .items-right a{
	color: #487bb4; /*666*/
	text-decoration: none;
	padding: 4px 0 4px 6px;
	font-size: 16px;
	transition: all .3s;
	line-height: 1.6;
}

#maplist .items-right i{
	color:#000;
	font-size:18px;
}

.map-left{
	padding-left: 40px;
	z-index: -1;
	margin-top: 40px;
}

#testim{
	background: #3b3b3b;
	padding: 50px 0 30px 0;
	text-align: ;
	margin-top: 40px;
}

#testim h1{
	float: left !important;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

#testim p{
	float: left ;
	font-size: 26px;
	font-family: 'Josefin Sans';
	color: #fff;
}

#testim p.customer{
	font-size: 20px;
	color: #666;
}

.curve-body{
	border-radius: 50%;
	left: 0;
	opacity: 1;
	padding-top: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	margin-left: 160px;
}

#content img{
	margin-top: 40px;
}

#content h1.section-heading{
	font-family: 'Merriweather', serif;
}